In [ ]:
pip install yfinance

In [1]:
import yfinance as yf
from datetime import datetime
import time

In [2]:
ticker = "ADA-USD"
start = "2010-11-10"
end = "2020-12-20"
end1 = datetime.now()
interval = "1d"

In [10]:
type(end1)
print(type(end1))

if str(type(end1))  == "<class 'datetime.datetime'>" :
    print( "Yess")

<class 'datetime.datetime'>
Yess

In [ ]:
startDate = date(int(start[0:4]) , int(start[5:7]),  int(start[8:10]))
endDate = date(int(end[0:4]) , int(end[5:7]),  int(end[8:10]))

t = endDate - startDate
t.days
#end - startDate

In [ ]:
intEnd= int(''.join(end.split('-')))

intStart = int(''.join(start.split('-')))
intEnd , intStart

In [47]:
ticker = "ADA-USD"
start = "2022-12-25"
end = "2023-02-17"
#end = datetime.now()
interval = "2m"

In [ ]:

data = yf.download(ticker, start, end, interval=interval)

data

In [1]:
'mysql+mysqlconnector://{0}:{1}@{2}/{3}'.format("database_username", "database_password", "database_ip", "database_name")

'mysql+mysqlconnector://database_username:database_password@database_ip/database_name'

In [ ]:
def extractDataBetween (ticker_symbol,startDatetime,endDatetime,interv):
    """
    A function For extract prices between a specific Time
    startDatetime,endDatetime = data.index[2],data.index[3] 
    print(startDatetime,endDatetime)
    2024-02-01 02:00:00 2024-02-01 03:00:00
    """

    print(startDatetime,endDatetime)
    start_sp_date = pd.to_datetime(startDatetime)
    end_sp_date = pd.to_datetime(endDatetime)
    dfd = yf.download(ticker_symbol, start=start_sp_date, end=end_sp_date, interval=interv)
    return dfd


dfd = extractDataBetween(ticker_symbol='ADA-USD', startDatetime=startDatetime, endDatetime=endDatetime, interv="15m")
print(dfd)

In [7]:
import yfinance as yf

ticker_symbol = "ada-usd"
start_sp_date = "2024-03-10"
end_sp_date   = "2024-12-29"
interv        = "5m"

df  = yf.download(ticker_symbol, start=start_sp_date, end=end_sp_date, interval="1h")
dfd = yf.download(ticker_symbol, start=start_sp_date, end=end_sp_date, interval="5m")
print(df, dfd)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
                               Open      High       Low     Close  Adj Close  \
Datetime
2024-03-10 00:00:00+00:00  0.743735  0.744211  0.739468  0.740585   0.740585
2024-03-10 01:00:00+00:00  0.740503  0.742249  0.739188  0.741050   0.741050
2024-03-10 02:00:00+00:00  0.740964  0.741155  0.739383  0.739383   0.739383
2024-03-10 03:00:00+00:00  0.739360  0.739378  0.736165  0.736287   0.736287
2024-03-10 04:00:00+00:00  0.736282  0.739122  0.736282  0.737082   0.737082
...                             ...       ...       ...       ...        ...
2024-03-14 17:00:00+00:00  0.758095  0.758095  0.751939  0.753307   0.753307
2024-03-14 18:00:00+00:00  0.753471  0.753471  0.737229  0.737901   0.737901
2024-03-14 19:00:00+00:00  0.737608  0.737608  0.719645  0.728004   0.728004
2024-03-14 20:00:00+00:00  0.728370  0.743620  0.728370  0.742687   0.742687
2024-03-14 21:00:00+00:00  0.742373  0.743536  0.738771  0.743536   0.743536

                             Volume
Datetime
2024-03-10 00:00:00+00:00         0
2024-03-10 01:00:00+00:00   3385472
2024-03-10 02:00:00+00:00         0
2024-03-10 03:00:00+00:00    123776
2024-03-10 04:00:00+00:00   3796800
...                             ...
2024-03-14 17:00:00+00:00  19155072
2024-03-14 18:00:00+00:00  25879680
2024-03-14 19:00:00+00:00  70567808
2024-03-14 20:00:00+00:00  54419200
2024-03-14 21:00:00+00:00   8828544

[118 rows x 6 columns]                                Open      High       Low     Close  Adj Close  \
Datetime
2024-03-10 00:00:00+00:00  0.743735  0.743735  0.742812  0.742812   0.742812
2024-03-10 00:05:00+00:00  0.742742  0.742742  0.742287  0.742287   0.742287
2024-03-10 00:10:00+00:00  0.742465  0.742465  0.742237  0.742237   0.742237
2024-03-10 00:15:00+00:00  0.742177  0.742716  0.741929  0.742716   0.742716
2024-03-10 00:20:00+00:00  0.742860  0.744211  0.742860  0.744211   0.744211
...                             ...       ...       ...       ...        ...
2024-03-14 21:15:00+00:00  0.742843  0.742843  0.742843  0.742843   0.742843
2024-03-14 21:25:00+00:00  0.741651  0.741651  0.741651  0.741651   0.741651
2024-03-14 21:30:00+00:00  0.741674  0.741674  0.741674  0.741674   0.741674
2024-03-14 21:40:00+00:00  0.742889  0.742889  0.742889  0.742889   0.742889
2024-03-14 21:50:00+00:00  0.743536  0.743536  0.743536  0.743536   0.743536

                            Volume
Datetime
2024-03-10 00:00:00+00:00        0
2024-03-10 00:05:00+00:00   874816
2024-03-10 00:10:00+00:00   266048
2024-03-10 00:15:00+00:00        0
2024-03-10 00:20:00+00:00  2416896
...                            ...
2024-03-14 21:15:00+00:00  3162624
2024-03-14 21:25:00+00:00  3640064
2024-03-14 21:30:00+00:00   484992
2024-03-14 21:40:00+00:00        0
2024-03-14 21:50:00+00:00  1540864

[1364 rows x 6 columns]

In [8]:
print(df.index[1], df.index[2])

2024-03-10 01:00:00+00:00 2024-03-10 02:00:00+00:00

In [11]:
st = df.index[1]
en = df.index[2]
dfd.loc[st:en]

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2024-03-10 01:00:00+00:00,0.740503,0.742058,0.740503,0.742058,0.742058,695168
2024-03-10 01:05:00+00:00,0.742031,0.742031,0.740877,0.740877,0.740877,0
2024-03-10 01:10:00+00:00,0.740523,0.740523,0.739966,0.740108,0.740108,735744
2024-03-10 01:15:00+00:00,0.740139,0.740828,0.740118,0.740118,0.740118,916800
2024-03-10 01:20:00+00:00,0.740082,0.740082,0.739531,0.739725,0.739725,814464
2024-03-10 01:25:00+00:00,0.740824,0.742249,0.740824,0.742135,0.742135,1072384
2024-03-10 01:30:00+00:00,0.741842,0.741842,0.739967,0.739967,0.739967,0
2024-03-10 01:35:00+00:00,0.739928,0.741117,0.739928,0.741069,0.741069,105920
2024-03-10 01:40:00+00:00,0.740988,0.740988,0.739188,0.739188,0.739188,0
2024-03-10 01:45:00+00:00,0.739210,0.740860,0.739210,0.740860,0.740860,636416
2024-03-10 01:50:00+00:00,0.740945,0.741515,0.740945,0.741515,0.741515,576640
2024-03-10 01:55:00+00:00,0.741790,0.741793,0.741050,0.741050,0.741050,306304
2024-03-10 02:00:00+00:00,0.740964,0.740964,0.740360,0.740360,0.740360,0

In [ ]:
def extractDataBetween1(dataFrame, startDatetime, endDatetime, interv) :